.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    margin: 0px;
    background-color: #F5F7FE;
}

/* shared style */
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    height: 48px;
}

.text-center{
    text-align: center;
}

/* header style */

.header{
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
}


.header-logo{
    font-size: 34px;
    width: 99px;
    height: 51px;
    font-weight: 900;
    color: #4E47FF;
}

.span-tag{
    color: #0601864b;
}
/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 50px auto;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: auto;
}

nav ul a{
    text-decoration: none;
    font-size: 20px;
}

.nav-title{
    font-size: 65px;
    font-weight: 900;
}

.banner{
    margin: 158px 267px 158px 267px;
}

/* main style */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* section style- Action */

.action{
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 116px;
}

.action-details{
    margin-top: 23px;
    margin-bottom: 23px;
    max-width: 450px;
}

.action h3{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}

.action p{
    color: #252432;
    font-size: 24px;
    opacity: 50%;
}

.action img{
    justify-content: right;
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* joined-users style*/

.joined-users{
    max-width: 1140px;
    height:306px;
    background-color: rgba(78,71,255,0.1);
    border-radius: 24px;
}

.joined-users-container{
   padding: 20px 80px;
   margin: 0 auto;
}

.joined-users-container .title{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
}

.joined-users-description{
    display: flex;
    justify-content: space-between;
    max-width: 856px;
    height:206px;
    margin: 0 auto;
}

.joined-users-description .item-title{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

.joined-users-description .item-description{
    color: rgb(0,0,0,0.5);
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

/* review container */

/* .review-container{
    margin-top: 137px;
    
}

.review-container h3{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
} */

/* review style */

.review-container{
    margin-top: 137px;
}

.review-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}

.persons{
    padding: 24px 24px;
    gap: 20px;
    font-family: 'Inter', 'Segoe UI', sans-serif;
    border-radius: 14px;
    stroke: rgb(242,237,237,1);
    background-color: rgb(255,255,255,0.5);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid #F2EDED;
}

.persons h4{
    margin-top: 24px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0px;
}

.persons p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.reviews{
    display: flex;
    gap: 24px;
    border-radius: 24px;
}

.reviewer-info img{
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

.reviewer-info{
    display: flex;
    justify-content: start;
    gap: 12px;
    margin-top: 24px; 
}

.reviewer-name-date h3{
    margin-top: 0px;
    color: #757575;
    font-size: 16px;
    font-weight: 600;
}

.reviewer-name-date p{
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 400;
}

.reviewer-name-date h3, 
.reviewer-name-date p {
  margin: 0;
}

/* focus section style */

.focus{
    margin: 0 auto;
    margin-top: 137px;
    border-radius: 14px;
    background-color: rgb(255,255,255,1);
}

.focus-container{
    padding: 71px 150px;
}

.focus-container h3{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

.focus-container p{
    font-size: 16px;
    font-weight: 400;
     margin-bottom: 20px;
}

.focus-container button{
    width: 195px;
    font-weight: 400;
    margin-bottom: 0px;
}

.focus img{
    width: 840px;
    height: 365px;
    border-radius: 48px;
    margin-bottom: 40px;
}

/* last section */

.last{
    margin-top: 92px;
}

.last-container{
    display: flex;
    justify-content: space-between;
    padding-top: 71px;
    padding-bottom: 71px;
    margin: 0 auto;
}

.last-container h3{
    font-size: 97px;
    font-weight: bold;
}


.last-container input[type="text"], .last-container input[type="email"] {
    width: 497px;
    height: 40px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: block;
    padding: 20px 32px;
    font-size: 20px;   
    margin-bottom: 19px;
    font-weight: 500px;
    border: 1px solid #D6DDED ;
}

.last-container textarea{
    width: 497px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: block;
    padding: 20px 32px;
    margin-bottom: 19px;
    font-size: 20px;  
    font-weight: 500px;
    border: 1px solid #D6DDED ;
}

.last-container form{
     font-family: 'Inter', 'Segoe UI', sans-serif;
}

.last-container label{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px; /* controls space BELOW label */
    display: block; 
}

.form-button{
    width: 100%;
    height: 62px;
}

/* footer style */

footer{
    background-color: rgb(255,255,255,1);
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

.foot-buttons{
    display: flex;
    justify-content: center;
}

.footer-container {
  padding: 104px 455px;
}

footer h3{
    color: #4E47FF;
    font-size: 100px;
    font-weight: bolder;
    display: inline;
}

footer p{
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
}

.foot-buttons ul{
    display: flex;
}

.foot-buttons li{
    list-style: none;
    gap: 48px;
}

.foot-buttons ul li a {
  margin-right: 48px;
}

.foot-buttons a{
    text-decoration: none;
    font-size: 20px;
    color: #8987A1;
}
