.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    margin: 0px;
    background-color: #F5F7FE;
}

/* shared style */
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    height: 48px;
}

.text-center{
    text-align: center;
}

/* header style */

.header{
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
}


.header-logo{
    font-size: 34px;
    width: 99px;
    height: 51px;
    font-weight: 900;
    color: #4E47FF;
}

.span-tag{
    color: #0601864b;
}
/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 50px auto;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: auto;
}

nav ul a{
    text-decoration: none;
    font-size: 20px;
}

.nav-title{
    font-size: 65px;
    font-weight: 900;
}

.banner{
    margin: 158px 267px 158px 267px;
}

/* main style */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* section style- Action */

.action{
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 116px;
}

.action-details{
    margin-top: 23px;
    margin-bottom: 23px;
    max-width: 450px;
}

.action h3{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}

.action p{
    color: #252432;
    font-size: 24px;
    opacity: 50%;
}

.action img{
    justify-content: right;
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* joined-users style*/

.joined-users{
    max-width: 1140px;
    height:306px;
    background-color: rgba(78,71,255,0.1);
    border-radius: 24px;
}

.joined-users-container{
   padding: 20px 80px;
   margin: 0 auto;
}

.joined-users-container .title{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
}

.joined-users-description{
    display: flex;
    justify-content: space-between;
    max-width: 856px;
    height:206px;
    margin: 0 auto;
}

.joined-users-description .item-title{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

.joined-users-description .item-description{
    color: rgb(0,0,0,0.5);
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

/* review container */

.review-container{
    margin-top: 137px;
    
}

.review-container h3{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}